<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
     
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/environment_tab.gif"
               label="%menu.label"
               mnemonic="c"
               tooltip="%menu.tooltip">
            <command
                  commandId="open.eclipse.plugins.apps.command.commands.explorer"
                  icon="icons/folder_obj.gif"
                  label="%command.explorer.label"
                  style="push"
                  tooltip="%command.explorer.tooltip">
            </command>
            <command
                  commandId="open.eclipse.plugins.apps.command.commands.terminal"
                  icon="icons/systemlocal_obj.gif"
                  label="%command.terminal.label"
                  style="push"
                  tooltip="%command.terminal.tooltip">
            </command>
            <command
                  commandId="open.eclipse.plugins.apps.command.commands.copyLocation"
                  icon="icons/main_tab.gif"
                  label="%command.copylocation.label"
                  style="push"
                  tooltip="%command.copylocation.tooltip">
            </command>
            <command
                  commandId="open.eclipse.plugins.apps.command.commands.copyJavaExprLocation"
                  icon="icons/newsbook_wiz.gif"
                  label="%command.copyjavaexprlocation.label"
                  style="push"
                  tooltip="%command.copyjavaexprlocation.tooltip">
            </command>
            <command
                  commandId="open.eclipse.plugins.apps.command.commands.copyLinuxExprLocation"
                  icon="icons/composite_change.png"
                  label="%command.copylinuxexprlocation.label"
                  style="push"
                  tooltip="%command.copylinuxexprlocation.tooltip">
            </command>            
            <command
                  commandId="open.eclipse.plugins.apps.command.commands.systemproperties"
                  icon="icons/system_properties.gif"
                  label="%command.systemproperties.label"
                  style="push">
            </command>
            <command
                  commandId="open.eclipse.plugins.apps.command.commands.deletefiles"
                  icon="icons/delete_obj.gif"
                  label="%command.deletefiled.label"
                  style="push">
            </command>
         </menu>
      </menuContribution>ribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="open.eclipse.plugins.apps.command.commands.ExplorerHandler"
            id="open.eclipse.plugins.apps.command.commands.explorer"
            name="%command.explorer.name">
         <commandParameter
               id="open.eclipse.plugins.apps.command.handlerType"
               name="explorer"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="open.eclipse.plugins.apps.command.commands.TerminalHandler"
            id="open.eclipse.plugins.apps.command.commands.terminal"
            name="%command.terminal.name">
         <commandParameter
               id="open.eclipse.plugins.apps.command.handlerType"
               name="terminal"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="open.eclipse.plugins.apps.command.commands.CopyLocationHandler"
            id="open.eclipse.plugins.apps.command.commands.copyLocation"
            name="%command.copylocation.name">
      </command>
      <command
            defaultHandler="open.eclipse.plugins.apps.command.commands.CopyLocationJavaHandler"
            id="open.eclipse.plugins.apps.command.commands.copyJavaExprLocation"
            name="%command.copyjavaexprlocation.name">
      </command>
      <command
            defaultHandler="open.eclipse.plugins.apps.command.commands.CopyLocationLinuxHandler"
            id="open.eclipse.plugins.apps.command.commands.copyLinuxExprLocation"
            name="%command.copylinuxexprlocation.name">
      </command>
      <command
            defaultHandler="open.eclipse.plugins.apps.command.commands.SystemPropertiesHandler"
            id="open.eclipse.plugins.apps.command.commands.systemproperties"
            name="%command.systemproperties.name">
      </command>
      <command
            defaultHandler="open.eclipse.plugins.apps.command.commands.DeleteFilesHandler"
            id="open.eclipse.plugins.apps.command.commands.deletefiles"
            name="%command.deletefiled.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
   </extension>

</plugin>
